.invest-col {
    width: 150px;
    padding-left: 10px;
}
.invest-col input {
    width: 90%;
    height: 20px;
    font-size: 15px;
    margin-top: 5px;
}
.ddd{
    width: 90%;
    height: 20px;
    font-size: 15px;
    margin-top: 5px;

}
.priceRow {
    line-height: 2em
}
.investHeader {
    height: 5em;
    background: #1A817D;
    align-items: center;
}
.investPricePercent {
    font-size: 1.2em;
    display: inline-block;
    width: 3.5em;
}
.investPrice {
    display: inline-block;
    width: 5em;
    font-size: 1.2em;
}
.investPoloicies {
    display: inline-block;
    width: 25%;
    font-size: 1.2em;
}
.red-border-class input{
    color:  red;
}
.invTitle{
    font-size: 1.75em;
    vertical-align: middle;
    display: inline-block;
    width: 180px;
}
.investState{
    vertical-align: middle;
    border-radius: 4px;
    background: #fff;
}
.invBtnImg{
 vertical-align: middle;
 width: 40px;
}
.invBtnTxt{
 vertical-align: middle;
 font-size: 15px;
}
.investHeadser {
    color: #fff
}
.invBtn {
    border-radius: 4px;
    background: #fff;
    font-size: 1.5em
}
td {
    width: 100px;
}

// label { position: absolute; background: white; left:0px; top: 0px; cursor: pointer; }
// input { position: relative; width: 200px; }
// input:focus + label { display: none; }