.invest-col {
    width: 150px;
    padding-left: 10px;
}
.invest-col input {
    width: 90%
}
.priceRow {
    line-height: 2em
}
.investHeader {
    height: 5em;
    background: #1A817D;
    align-items: center;
}
.investPricePercent {
    font-size: 1.2em;
    display: inline-block;
    width: 3.5em;
}
.investPrice {
    display: inline-block;
    width: 5em;
}
.investPoloicies {
    display: inline-block;
    width: 20%
}
.red-border-class{
    color:  red;
}
.invTitle{
    font-size: 1.75em;
    vertical-align: middle;
    display: inline-block;
    width: 180px;
}
.investState{
    vertical-align: middle;
    border-radius: 4px;
    background: #fff;
}
.invBtnImg{
 vertical-align: middle;
 width: 40px;
}
.invBtnTxt{
 vertical-align: middle;
 font-size: 15px;
}
.investHeadser {
    color: #fff
}
.invBtn {
    border-radius: 4px;
    background: #fff;
    font-size: 1.5em
}
td {
    width: 100px;
}