<mat-sidenav-container class="example-container" >
  <mat-sidenav mode="side" opened fxLayout="column" fxLayout.lt-sm="column">
    <div fxFlex="50">
      <img src="assets/images/listlogowhite.png" class="logo" />
      <div  *ngFor="let item of items; let i = index" class="mItem" fxLayout="row" fxLayoutAlign="left center">
        <mat-icon class="mIcon">{{item.icon}}</mat-icon>
        <div>{{item.name}}</div>
      </div>
    </div>
    <div  fxFlex="50" style="background: #E2E2E2;">
      <div style="display: table-cell; vertical-align:middle; height: 80px;">
        <div style=" font-size: 1.5em; vertical-align: middle; color: #0E7171; padding-left: 15px" >
          ${{account.available}}
        <div style="font-size: 0.8em; color:  #535353">available</div>
      </div>
      </div>
      <div style="width: 80%; background-color: #0e7171; height: 1px"> </div>

            <div style="display: table-cell; vertical-align:middle; height: 80px;">
        <div style=" font-size: 1.5em; vertical-align: middle; color: #0E7171; padding-left: 15px" >
          $600000
        <div style="font-size: 0.8em; color:  #535353">In Assests</div>
      </div>
      </div>
      <div style="width: 80%; background-color: #0e7171; height: 1px"> </div>


      <div style="display: table-cell; vertical-align:middle; height: 80px;">
        <div style=" font-size: 1.5em; vertical-align: middle; color: #0E7171; padding-left: 15px" >
          $100000
        <div style="font-size: 0.8em; color:  #535353">Profit</div>
      </div>
      </div>
      <div style="width: 80%; background-color: #0e7171; height: 1px"> </div>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-market></app-market>
  </mat-sidenav-content>
</mat-sidenav-container>

