  <!--Section 1-->
  <div class="section1">
    <div id="particles-js"></div>
    <div class="textCenter">
      A two-sides marketplace <br /> where both sides benefit
    </div>
  </div>

  <!--Section 2 about us-->
  <div class="section2">
    <div class="center">
      <div class="title">
        About us
        <div class="seperator"></div>
      </div>
      <div class="content">
        <div class="leftSide">
          We believe in the power of technology to remove barriers and drive transparency and equality to the Life settlements market.
          <br /> <br /> Our goal is to simplify and improve the way policyholders and investors approach this asset.
          <br /> We built and designed a two-sided-marketplace, were both sides benefits.
        </div>
        <div class="rightSide">
          <div class="img"></div>
        </div>

      </div>
    </div>
    <div style="width: 100%; height: 100px"></div>
  </div>
  <!--end section 2-->

  <!--Section 3, For investor-->
  <div class="section3 forStyle">
    <div class="center" >
      <div class="leftSide" >
        <div class="title" >For investor</div>
            We provide the accredited investor a easy to use one-button-perches platform, enabling him to invest directly & seamlessly into many policies at once, we use algorithms to calculate and ensure diversification, quality of policies & IRR forecasts. Through the platform, the investor becomes a true portal owner in a pure alpha assets.         <div class="button">Get started</div>
      </div>
      <div class="rightSide">
        <div class="img" style="background-image: url('/assets/images/investor.png')"></div>
      </div>

    </div>
  </div>
  <!--end for investor-->

  <!--section 4 For policy holder-->
  <div class="section4 forPolicyHolder forStyle">
    <div class="center" >
      <div class="leftSide" >
        <div class="title" >For policyholder</div>
        We provide the policyholder with the opportunity to continue holding on their valuable life insurance policy while at the
        same time relieve them from the ongoing premiums, we do this by turning the policy into a liquid asset and through
        the platform, we enable small investors to finance the upcoming premiums for a stake in the asset
        <div class="button">Get started</div>
      </div>
      <div class="rightSide">
        <div class="img"></div>
      </div>

    </div>
  </div>

  <!--Section 5 Whatch our pitch-->
  <div class="section5">
    <div class="center">
      <div class="title">Watch our pitch.</div>
      <div class="description">
        Yaakov Glodenhirsh the CEO of LiST<br />
        presenting on stage at the barclays power<br />
        by Tachstars event, <span class="orange">enjoy!</span>
      </div>
      <div class="play" (click)="showVideo()"></div>
    </div>
  </div>
  <!--end section 5-->

  <!--Section 6, Team-->
  <div class="section6">
    <div class="bacgroundSeats">
      <div class="team">
        <div class="title">Team</div>
        <div class="cards">
          <div class="card"><div></div></div>
          <div class="card"><div></div></div>
          <div class="card"><div></div></div>
        </div>
      </div>
    </div>
  </div>
  <!--End section 6-->

  <!--Section 7 investors-->
  <div class="section7" style="height: 830px; background-color: #E9E9E9">
    <div >
      <div style="display: flex;">
        <img src="/assets/images/inv2.png" />
        <img src="/assets/images/inv4.png" />
      </div>

      <div style="display: flex;">
        <img src="/assets/images/inv3.png" />
        <img src="/assets/images/inv1.png" />
      </div>
    </div>
  </div>
  <!-- End section 7-->
