<!--Section 1-->
<div class="section1">
  <div id="particles-js"></div>
  <div class="textCenter">
    A two-sided marketplace <br /> where both sides benefit
  </div>
</div>

<!--Section 2 about us-->
<div class="section2">
  <div class="center">
    <div class="title">
      About Us
      <div class="seperator"></div>
    </div>
    <div class="content">
      <div class="leftSide">
        We believe technology has the power to remove barriers and drive transparency and equality to the Life settlements market.
        <br /> <br />Our goal is to simplify and improve the way policyholders and investors approach this asset.
        <br />We have designed and built a two-sided marketplace, where both sides benefit.
      </div>
      <div class="rightSide">
        <div class="img"></div>
      </div>

    </div>
  </div>
  <div style="width: 100%; height: 100px"></div>
</div>
<!--end section 2-->

<!--Section 3, For investor-->
<!--<div class="section3 forStyle">
    <div class="center" >
      <div class="leftSide" >
        <div class="title" >For investor</div>
We provide the accredited investor an easy-to-use, one-button-purchase platform, enabling him to invest directly & seamlessly into many policies at once. We use algorithms to calculate and ensure diversification, quality of policies and IRR forecasts. Through this platform, the investor becomes a true portal owner in a pure alpha asset.      </div>
      <div class="rightSide">
        <div class="img" style="background-image: url('/assets/images/investor.png')"></div>
      </div>

    </div>
  </div>-->
<!--end for investor-->

<!--section 4 For policy holder-->
<!--<div class="section4 forPolicyHolder forStyle">
    <div class="center" >
      <div class="leftSide" >
        <div class="title" >For policyholder</div>
We provide the policyholder with the opportunity to retain his valuable life insurance policy while at the same time relieving him from ongoing premiums. We do this by turning the policy into a liquid asset. Through our platform, we enable small investors to finance upcoming premiums for a stake in the asset.        <div class="button">Get started</div>
      </div>
      <div class="rightSide">
        <div class="img"></div>
      </div>

    </div>
  </div>-->

<!--Section 5 Whatch our pitch-->
<div class="section5">
  <div class="center">
    <div class="title">Watch our pitch.</div>
    <div class="description">
      Yaakov Goldenhersh, CEO of LiST,<br /> presenting on stage at <br /> the Barclays event. <span class="orange">enjoy!</span>
    </div>
    <div class="play" (click)="showVideo()"></div>
  </div>
</div>
<!--end section 5-->

<!--Section 6, Team-->
<div class="section6 section6Desktop">
    <div class="bacgroundSeats">
      <div class="team">
        <div class="title">Team</div>
        <div class="cards">
          <div class="card marg" >
            <div class="founderImg"><img src="/assets/images/ia.png"/></div>
            <div class="founderName">Izik<br />Algarisi</div>
            <div class="founderTitle">CTO</div>
            <div class="ldn"><img src="/assets/images/ld.png" (click)="goLink('https://www.linkedin.com/in/izik-algarisi-0a593112a/')"/></div>
          </div>
          <div class="card marg">
            <div class="founderImg"><img src="/assets/images/yg.png"/></div>
            <div class="founderName">Yaacov<br />Goldebhersh</div>
            <div class="founderTitle">CEO</div>
            <div class="ldn"><img src="/assets/images/ld.png" (click)="goLink('https://www.linkedin.com/in/yaacov-goldenhersh-10376556/')"/></div>
          </div>
          <div class="card">
            <div class="founderImg"><img src="/assets/images/yb.png"/></div>
            <div class="founderName">Yaakov<br />Bergman</div>
            <div class="founderTitle">COO</div>
            <div class="ldn"><img src="/assets/images/ld.png" (click)="goLink('https://www.linkedin.com/in/yaakov-b-bergman-2531a496/')"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="section6 section6Mobile" style="overflow-x: hidden">
  <div class="bacgroundSeats">
    <div class="team">
      <div class="title">Team</div>
      <div class="cardsContainer">
        <div  class="cardsmobile cards" id="mycards" #mycards (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)"> 
          <div class="card marg" (click)="animateRight()">
            <div class="founderImg"><img src="/assets/images/ia.png" /></div>
            <div class="founderName">Izik<br />Algarisi</div>
            <div class="founderTitle">CTO</div>
            <div class="ldn"><img src="/assets/images/ld.png" (click)="goLink('https://www.linkedin.com/in/izik-algarisi-0a593112a/')" /></div>
          </div>
          <div class="card marg" (click)="animateRight()">

            <div class="founderImg"><img src="/assets/images/yg.png" /></div>
            <div class="founderName">Yaacov<br />Goldebhersh</div>
            <div class="founderTitle">CEO</div>
            <div class="ldn"><img src="/assets/images/ld.png" (click)="goLink('https://www.linkedin.com/in/yaacov-goldenhersh-10376556/')"
              /></div>
          </div>
          <div class="card" (click)="animateRight()">
            <div class="founderImg"><img src="/assets/images/yb.png" /></div>
            <div class="founderName">Yaakov<br />Bergman</div>
            <div class="founderTitle">COO</div>
            <div class="ldn"><img src="/assets/images/ld.png" (click)="goLink('https://www.linkedin.com/in/yaakov-b-bergman-2531a496/')" /></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--End section 6-->

<!--Section 7 investors-->
<div class="section7" style="background-color: #E9E9E9">
  <div class="title">Investors</div>
  <div>
    <div class="container">
      <img src="/assets/images/inv2.png" />
      <img src="/assets/images/inv4.png" />
    </div>

    <div class="container">
      <img src="/assets/images/inv3.png" />
      <img src="/assets/images/inv1.png" />
    </div>
  </div>
</div>
<!-- End section 7-->