<div style="
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Heebo', sans-serif;"
    >
  <div class="header" style="position: absolute; width: 100%; z-index: 1; height: 60px; ">
    <app-bar></app-bar>
  </div>
  <div class="body">
    <div class="leftSide">
      <div class="middle">
        <div class="inner" style="color: white">
          <div style="font-size: 30px;">WE <span class="bold">CONNECT</span> THE <span class="bold"> DOTS…</span></div>
          <div class="contentLeftSecondLine">LiST is a Marketplace for<br />LIFE SETTLEMENTS<br />where both sides win</div>
        </div>
      </div>
    </div>
    <div class="carousel" id="carousel">
      <ul class="slides" id="slides">
        <li *ngFor="let image of imageUrlArray" class="animate" [style.backgroundImage]="'url('+ image +')'">
        </li>
      </ul>
    </div>

  </div>
  <!--<input type="button" (click)="animateRight()" value="right" style="position: fixed; top: 100px;" />
  <input type="button" (click)="animateLeft()" value="left" style="position: fixed" />-->
</div>