
.contentFirstLine{
    font-size: 40px;
}
.contentLeftSecondLine{
    margin-top: 15px;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
}
.body {
    height: 100%;
    background-color: #3288A0;
}

.bold {
    font-weight: 500;
}

:host /deep/  .bold{
    font-weight: 500;
}

.carousel{
    overflow: hidden;
    width: 63%;
    height: 100%;
    position: relative;}
.slides{
    list-style:none;
    width: 100%; /* Number of panes * 100% */
        /* Slide effect Animations*/
    padding: 0px;
    /*-moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;*/
    margin-block-start: 0em;
}
.slides > li{
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    background-repeat:  no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:0%; }
    11%   { left:-0%; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    /*37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }*/
    /*75%   { left:-200%; }*/
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:-0%; }
}
.animate{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

.leftSide{
    background-color:  #3288A0;
    float: left;
    width: 37%;
    height: 100%
}

.middle {
    display: grid;
    height: 100%;
    align-items: center;
}

.inner {
  margin-left: 20%;
  width: 50%;
}
.showPhone {
    display: none;
}
.downSide {
    display: none;
}

.caruselText {
    width: 50%;
    margin: auto; 
    height: 100%; 
    opacity: 1; 
    display: grid; 
    align-items: center; 
    color: white; 
    font-size: 30px; 
    font-weight: 300
}

.signBtn {
    position: absolute; 
    bottom: 121px; 
    left: 50%;transform: translate(-50%); 
    font-weight: 600;
    overflow: hidden;
}

.img1 {
    background-image: url('/assets/images/img1.jpg');
}

.img2 {
    background-image: url('/assets/images/img2.jpg');

}

.img3 {
    background-image: url('/assets/images/img3.jpg');
}

.img4{
    background-image: url('/assets/images/img4.jpg');
}

.comming_soon_mobile {
    display: none;
}
.signBtn:after {
    content: "";
    position: absolute;
    top: 30%;
    /* left: -210%; */
    width: 90px;
    height: 10px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient( to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 77%, rgba(255, 255, 255, 0.7) 92%, rgba(255, 255, 255, 0.0) 100% );
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: changewidth;
    animation-name: changewidth;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.shakeElement {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* Hover state - trigger effect */


@keyframes changewidth {
  from {
    left: -200%;
  }

  to {
    left: 120%;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


/* Active state */



@media screen and (max-width: 845px) {
    .contentFirstLine {
        font-size: 1.4rem;
        margin-top: 16px;
    }
    .signBtn {
        bottom: 80px;
    }
    .leftSide {
        display: none;
        float: none;
        width: 100%;
        height: 360px;
        position: relative;
        background-image: url('/assets/images/graph_bg.png');
        background-size: contain;
        background-repeat: repeat-x;
        background-position-y: bottom;
        background-size: 300px;
    }
    .leftSide img{
        display: none;
    }
    .inner {
        margin: auto;
        width: 75%;
        text-align: center;
    }
    .carousel{
        width: 100%;
        height: 92%;
        position: relative;
    }
    .showPhone {
        display: block;
    }
    .downSide {
        display: block;
        background-color: #3288A0;
    }
    .caruselText {
        font-size: 1.4rem;
        width: 80%;
    }
    .contentLeftSecondLine{
        text-align: center;
        margin-top: 15px;
        font-weight: 300;
        font-size: 1.3rem;
        line-height: 30px;
    }
    .mat-dialog-container {
      background-color:rgba(255, 255, 255, 0.9);
    }
    .img1 {
    background-image: url('/assets/images/img1.jpg');
    }

    .img2 {
        background-image: url('/assets/images/img2.jpg');

    }

    .img3 {
        background-image: url('/assets/images/img3.jpg');
    }

    .img4{
        background-image: url('/assets/images/img4.jpg');
    }
    .comming_soon {
        display: none;
    }
    .comming_soon_mobile {
        display: block;
    }


}
