<div style="
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;">
  <div class="header" style="position: absolute; width: 100%; z-index: 1; height: 60px; ">
    <app-bar></app-bar>
  </div>
  <div class="body">
    <div class="leftSide" style="position: relative">
      <img src="/assets/images/graph_bg.png" style="position: absolute; bottom: 0; width: 100%" />
      <div class="middle">
        <div class="inner" style="color: white">
          <div class="contentFirstLine">WE <span class="bold">CONNECT</span> THE <span class="bold"> DOTS…</span></div>
          <div class="contentLeftSecondLine">LiST is a Marketplace for<br />LIFE SETTLEMENTS<br />where both sides win</div>
        </div>
      </div>
    </div>
    <div class="carousel" id="carousel">
      <ul class="slides" id="slides">
        <li *ngFor="let image of imageUrlArray" class="animate" [ngClass]="image.url" style="background-position-x: center">
          <div style="width: 100%; height: 100%; background-color: #3488a0; opacity: 0.48; position: absolute; ">
          </div>
          <div class="caruselText">
            <div style="z-index: 200; text-align: center">
              <div [innerHTML]="image.text"></div>
              <!--<div><button style="font-size: 20px; padding-left: 24px; padding-top: 8px; padding-right: 24px; padding-bottom: 8px;" [routerLink]="image.goto">{{image.btnText}}</button> </div>-->
            </div>
          </div>
        </li>
      </ul>
      <div class="signBtn" (click)="test()" style="z-index: 2002;"><img id="signBtn" src="/assets/images/sign_in_button.png" style="width: 200px; " /></div>
    </div>
    <!--<div class="downSide" style="position: relative">
      <div class="middle">
        <div class="inner" style="color: white">
          <div class="contentFirstLine">WE <span class="bold">CONNECT</span> THE <span class="bold"> DOTS…</span></div>
          <div class="contentLeftSecondLine">LiST is a Marketplace for<br />LIFE SETTLEMENTS<br />where both sides win</div>
        </div>
      </div>
    </div>-->

    <app-about></app-about>

  </div>

  <!--<div style="position: fixed">
    <div class="dialog-container" style="box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 24px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background-color: white">

    aaaa
    </div>-->

  <!--</div>-->
  <!--<input type="button" (click)="animateRight()" value="right" style="position: fixed; top: 100px;" />
  <input type="button" (click)="animateLeft()" value="left" style="position: fixed" />-->
  <div class="comming_soon_mobile" (click)="shake()" style="position: absolute; top: 38px; width: 100%; text-align: center; z-index: 1001;">
    <img src="/assets/images/coming_soon.png" style="width: 100%;" />
  </div>
  <div class="comming_soon" (click)="shake()" style="display: none; position: fixed; height: 100%; top: 0px; width: 100%; text-align: center; z-index: 1001;">
    <img src="/assets/images/coming_soon_big.png" style="object-fit: cover; height: 40%;" />
  </div>


</div>