<div style="background-color: #EEEEEE; ">
  <div style="background-color: #E2E2E2; height: 15mm; box-shadow: 1mm 0.7mm 0.7mm #b1b1b1">
    <div style="position: absolute; text-align: center; left: 50%; transform: translate(-50%, 0%); line-height: 15mm;     font-family: 'Open Sans'; font-weight: 600; font-size: 6mm;">Policy Info</div>
    <img src="assets/images/logo.svg" style="width: 30mm; height: 12mm; top: 50%; transform: translate(0%, -50%); position: relative; margin-left: 4mm;"
      routerLink="/home" />
  </div>
  <div style="width: 210mm; margin: auto">
    <mat-card style="padding: 0px; margin-top: 13mm;">
      <div style="margin-bottom: 20px;" class="mContainer">

        <div style="display: inline-flex; margin-top: 8mm; margin-bottom: 8mm;">
          <div class="hInput1">
            <div class="header hInput1">Face Value</div>
            <app-custom-input [(ngModel)]="amount" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onFaceChange()"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" />
          <img src="assets/images/takePhoto.svg" class="ic" />
          <div class="hInput2">
            <div class="header hPremium">Annual Premiums</div>
            <app-custom-input [(ngModel)]="premiums" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onPremiumsChange()"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="changePremiumArray()" />
          <div style="position: relative; height: 5mm; align-self: flex-end;"><img src="assets/images/takePhoto.svg" class="ic" /><input type="file" (change)="fileUpload($event)" style="position: absolute;width: 20px;height: 15px;top: 0px;left: 0px;opacity: 0;"
            /></div>

          <div class="hInput3">
            <div class="header">Life Expectancy</div>
            <app-custom-input [(ngModel)]="le" keyPress="op" [textOnTop]="'Y'" (ngModelChange)="onLEChange()"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openLeDialog()" />
          <img src="assets/images/takePhoto.svg" class="ic" (click)="openCameraDialog()" />

          <div class="hInput4">
            <div class="header">IRR</div>
            <app-custom-input [(ngModel)]="irr" keyPress="op" [textOnTop]="'%'" (ngModelChange)="onIRRChange()"></app-custom-input>
          </div>
        </div>

        <div style="display: inline-flex; margin-bottom: 8mm;">
          <div class="hInput1">
            <div class="header hInput1">Name</div>
            <input [(ngModel)]="ownerName" keyPress="op" style="border: none;
    border-bottom: solid 1px lightgray;
    padding: 5px;
    display: inline-block;
    padding-bottom: 0px;
    font-size: 3.5mm;
    width: 30mm;
    font-family: 'Open Sans';
    outline: none;" />
          </div>
          <img src="assets/images/document.svg" class="ic" style="display: none;" />
          <img src="assets/images/takePhoto.svg" class="ic" style="display: none" />

          <div class="hInput3">
            <div class="header">Policy No.</div>
            <input [(ngModel)]="policyNumber" style="width: 30mm;" keyPress="op" style="border: none;
    border-bottom: solid 1px lightgray;
    padding: 5px;
    display: inline-block;
    padding-bottom: 0px;
    font-size: 3.5mm;
    width: 30mm;
    font-family: 'Open Sans';
    outline: none;" />
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openLeDialog()" style="display: none" />
          <img src="assets/images/takePhoto.svg" class="ic" (click)="openCameraDialog()" style="display: none" />

          <div class="hInput4">
            <div class="header">Age</div>
            <input style="width: 30mm;" [(ngModel)]="age" keyPress="op" style="border: none;
    border-bottom: solid 1px lightgray;
    padding: 5px;
    display: inline-block;
    padding-bottom: 0px;
    font-size: 3.5mm;
    width: 30mm;
    font-family: 'Open Sans';
    outline: none;" />
          </div>
        </div>



        <div style="display: inline-flex; margin-bottom: 8mm;">
          <div class="hInput5">
            <div class="header">Annual Ongoing Fees</div>
            <app-custom-input [(ngModel)]="ongoingFeesSum" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onIRRChange()" dis="true"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openOngoingDialog()" />
          <div class="hInput5" style="margin-left: 10px;">
            <div class="header">Onboarding Fees</div>
            <app-custom-input [(ngModel)]="onBoardingFeesSum" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onIRRChange()" dis="true"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openOnboardingDialog()" />
        </div>
        <div style="display: inline-flex; margin-bottom: 8mm;">

          <div class="hInput9">
            <div class="header">LiST Fee</div>
            <!--<app-custom-input [(ngModel)]="listFee" keyPress="op" [textOnTop]="'%'" (ngModelChange)="onListFeeChange()"  ></app-custom-input>-->
            <input [(ngModel)]="listFee" style="border: none; border-bottom: solid 1px lightgray; padding: 5px; display: inline-block; padding-bottom: 0px; font-size: 3.5mm; width: 30mm; font-family: 'Open Sans'; outline: none;" />%
          </div>
        </div>


        <div style="text-align: center; width: 100%">
          <input type="button" value="Issue Report" class="inputReport" (click)="report()" />
        </div>
      </div>
    </mat-card>
    <!--*ngIf="!isHidden"-->
    <div class="page" #page style="width: 210mm; background-color: white; margin: auto; display: none" id="section-to-print">
      <div class="container" style="margin-left: 7mm; margin-right: 7mm; padding-top: 10mm;">
        <div #header1>
          <div class="headerLeft" style="display: flex">
            <div style="width: 66%">
              <img class="logo"  src="/assets/images/logo_pdf.png" style="margin-bottom: 5mm; width: 30mm;" />
              <div class="line1" style="font-size: 6.7mm; color: #3588A0; font-family: 'Open Sans'">
                LiST SETTLEMENTS OFFERING
              </div>
              <div class="line2" style="font-size: 5.64mm; color: #3588A0; font-family: 'Open Sans'; font-weight: 300">
                Schedule of Payments & Benefits
              </div>
            </div>

            <img src="/assets/images/not_final.png" style="width: 90px; height: 90px; margin-left: 60px; margin-top: 40px; opacity: 0.7; transform: rotate(43deg);" />
          </div>
          <div class="line3" style="font-size: 4mm; color: #3588A0; font-family: 'Open Sans'; font-weight: 600">
            Offer Issue Date: {{mDate | date:'MM/dd/yy'}} <span style="padding-left:5em"></span> Policy Number - {{policyNumber}}
            <span style="padding-left:5em"></span> Insured Name - {{ownerName}}
            <!--Policy Date Issue: 2\02\2012-->
            <div style="text-align: center; margin-top: 10px;">
              Age - {{age}}
              <span style="padding-left:3em"></span> Annual Discount Rate - {{irr}}%
              <span style="padding-left:3em"></span> Face Value - ${{amount | number}}
            </div>
          </div>
          <div class="line3" style="text-align: center; font-size: 4mm; color: #3588A0; font-family: 'Open Sans'; font-weight: 600">
              LiST Fee - {{listFee}}% (${{listFeeCash | number}}) of the face value paid at maturity from the policyholder's benefit
          </div>




          <div class="seperator1"></div>
        </div>
        <div class="mHeader">
          Schedule Summary - Annually
        </div>


        <!--<div class="seperator2">
        </div>-->

        <!--<div class="mHeader">
          High Performing Market
        </div>
        <div class="secondary">
          This forecast refers to a future 'bull market' where efficiency and liquidity bring high demand and expected returns for
          new investors down to a level of <span class="irrSpan">{{irr - 4}}%</span> IRRs.
        </div>-->





        <table id="table2" class="table2">
          <colgroup>
            <col>
            <col span="3" class="outlined">
          </colgroup>
          <tr>
            <td class="header1"></td>
            <td class="header1 tHeaderColor1" colspan="3" scope="colgroup">LiST Funding</td>
            <td class="header1 tHeaderColor2">Policyholder Benefit</td>
            <td class="header1 tHeaderColor3">LiST Benefit</td>
          </tr>
          <tr>
            <th>Year</th>
            <th scope="col">Annual Premiums</th>
            <th scope="col">Expenses</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
          <tr *ngFor="let item of datin">
            <th scope="row" class="timeLine">{{item.title}}</th>
            <td class="cell boldLeft">${{item.enforcedCash | number}}</td>
            <td class="cell">${{item.expenses | number}}</td>
            <td class="cell boldRight">${{item.total | number}}</td>
            <td class="cell">${{item.PolicyholderInterest | number}} ({{item.pcForSeller}}%)</td>
            <td class="cell">${{item.listInterest | number}} ({{item.pcForInvesrors}}%)</td>
          </tr>
        </table>

        <div id="tableDescription">
          <div id="tableDescription_line1" class="tableLines">
            <span class="tHeaderColor1">LiST Funding</span> – LiST’s funding in the policy.
            <div style="margin-left: 30px; display: list-item"><span style="font-weight: 500; display: table-cell">Annual Premiums</span><span style="display: table-cell">&nbsp;-&nbsp;</span>
              <div style="display: table-cell">The annual premium LiST is funding for the policy.</div>
            </div>
            <div style="margin-left: 30px; display: list-item"><span style="font-weight: 500; display: table-cell;">Expenses</span><span style="display: table-cell">&nbsp;-&nbsp;</span>
              <div style="display: table-cell">The onboarding and ongoing expense of maintaining and managing the asset; this includes provider fees, legal
                fees, life expectancy reports, and other services.</div>
            </div>
            <div style="margin-left: 30px; display: list-item"><span style="font-weight: 500; display: table-cell">Total</span><span style="display: table-cell">&nbsp;-&nbsp;</span>
              <div style="display: table-cell">The total accumulated dollar amount funded by LiST.
              </div>
            </div>
          </div>
          <div id="tableDescription_line2" class="tableLines">
            <span class="tHeaderColor2">Policyholder Benefit</span> – The Portion of the policy's benefits retained by the policyholder. The "LiST Fee" will be deducted from this benefit.
          </div>
          <div id="tableDescription_line3" class="tableLines">
            <span class="tHeaderColor3">LiST Benefit</span> - The portion of the policy&#39;s benefits due to LiST.
          </div>
        </div>

        <div id="disclaimer" style="padding-right: 50px; padding-left: 50px;">
          <div class="disclaimer" id="disclaimer" style="text-align: center; border: solid 1px; padding: 10px;">
            <div class="disclaimerTitle" style="width: 100%; text-align: center; font-size: 20px; margin-bottom: 10px;">
              Disclaimer
            </div>
            This offer was issued on {{mDate | date:'MM/dd/yy'}} for the specific policy listed above and based on the current policy
            information and values. Adjustments may occur to the policy such as, but not only, change of the premiums or the
            policy expenses which can affect future value and can impact these schedules.
          </div>

        </div>
        <div class="mHeader">
          Detailed Schedule – Monthly
        </div>
        <div *ngFor="let it of monthData; let i = index" style="margin-top: 20px">
          <div class="mHeader3">Year {{i + 1}}</div>
          <table id="table2" class="tableMonth table2">
            <colgroup>
              <col>
              <col span="3" class="outlined">
            </colgroup>
            <tr>
              <td class="header1"></td>
              <td class="header1 tHeaderColor1" colspan="3" scope="colgroup">LiST Funding</td>
              <td class="header1 tHeaderColor2">Policyholder Benefit</td>
              <td class="header1 tHeaderColor3">LiST Benefit</td>
            </tr>
            <tr>
              <th scope="col">Month</th>
              <th scope="col">Monthly Premiums</th>
              <th scope="col">Expenses</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            <tr *ngFor="let item of it">
              <th scope="row" class="timeLine">{{item.title}}</th>
              <td class="cell boldLeft">${{item.enforcedCash | number}}</td>
              <td class="cell">${{item.expenses | number}}</td>
              <td class="cell boldRight">${{item.total | number}}</td>
              <td class="cell">${{item.PolicyholderInterest | number}} ({{item.pcForSeller}}%)</td>
              <td class="cell">${{item.listInterest | number}} ({{item.pcForInvesrors}}%)</td>
            </tr>
          </table>

        </div>


        <table style="margin: auto; margin-top: 65px;" id="expencesTable" class="table2">
          <colgroup>
            <col>
            <col span="3" >
          </colgroup>
          <tr>
            <td class="header1 tHeaderColor1" colspan="3" scope="colgroup">Expenses</td>
          </tr>
          <tr>
            <th ></th>
            <th >Onboarding</th>
            <th >Annual Ongoing</th>
          </tr>
          <tr *ngFor="let item of expences">
            <th class="cell">{{item.title}}</th>
            <td class="cell">${{item.onboarding | number}}</td>
            <td class="cell">${{item.ongoing | number}}</td>
          </tr>
        </table>

        <!--<table style="margin: auto; margin-top: 65px; width: 630px" id="feeTable" class="table2">
          <tr>
            <th class="cell">LiST Fee</th>
            <td class="cell">1% of the face value paid at maturity</td>
          </tr>
        </table>
-->
        <div style="width: 100%; height: 20mm"></div>

      </div>
    </div>
  </div>
  <div id="loadingContainer">
    <img src="assets/images/process.gif" />
    <div id="loadingText"></div>
  </div>
  <!--<div>
    Param 1 : <input type="text" [(ngModel)]="param1" /> <br />
    Param 2 : <input type="text" [(ngModel)]="param2" /> <br />
    Param 3 : <input type="text" [(ngModel)]="param3" /> <br />
    Param 4 : <input type="text" [(ngModel)]="param4" /> <br />
    Param 5 : <input type="text" [(ngModel)]="param5" /> <br />
    Param 6 : <input type="text" [(ngModel)]="param6" /> <br />
    Param 7 : <input type="text" [(ngModel)]="param7" /> <br />
    Param 8 : <input type="text" [(ngModel)]="param8" /> <br />

  </div>-->
  <!--<img #mImg [src]="imgPath" />
<img [src]="imgPath2" />-->
  <img src="/assets/images/down_material.ico" (click)="download()"  id="downloadImage"  style="opacity: 0; position: fixed; bottom: 10px; right: 30px; width: 65px;   -webkit-transition: all 2s; transition: opacity 2s; transition-delay: 1s;"/>
  <div></div>
</div>