<div style="background-color: #EEEEEE; ">
  <div style="background-color: #E2E2E2; height: 15mm; box-shadow: 1mm 0.7mm 0.7mm #b1b1b1">
    <div style="position: absolute; text-align: center; left: 50%; transform: translate(-50%, 0%); line-height: 15mm;     font-family: 'Open Sans'; font-weight: 600; font-size: 6mm;">Policy Info</div>
    <img src="assets/images/logo.svg" style="width: 30mm; height: 12mm; top: 50%; transform: translate(0%, -50%); position: relative; margin-left: 4mm;"
      routerLink="/home" />
  </div>
  <div style="width: 210mm; margin: auto">
    <mat-card style="padding: 0px; margin-top: 13mm;">
      <div style="margin-bottom: 20px;" class="mContainer">
        <div style="display: inline-flex; margin-top: 8mm; margin-bottom: 8mm;">
          <div class="hInput1">
            <div class="header hInput1">Face Value</div>
            <app-custom-input [(ngModel)]="amount" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onFaceChange()"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" />
          <img src="assets/images/takePhoto.svg" class="ic" />
          <div class="hInput2">
            <div class="header hPremium">Annual Premiums</div>
            <app-custom-input [(ngModel)]="premiums" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onPremiumsChange()"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="changePremiumArray()" />
          <img src="assets/images/takePhoto.svg" class="ic" />

          <div class="hInput3">
            <div class="header">Life Expectancy</div>
            <app-custom-input [(ngModel)]="le" keyPress="op" [textOnTop]="'Y'" (ngModelChange)="onLEChange()"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openLeDialog()" />
          <img src="assets/images/takePhoto.svg" class="ic" (click)="openCameraDialog()" />

          <div class="hInput4">
            <div class="header">IRR</div>
            <app-custom-input [(ngModel)]="irr" keyPress="op" [textOnTop]="'%'" (ngModelChange)="onIRRChange()"></app-custom-input>
          </div>
        </div>
        <div style="display: inline-flex; margin-bottom: 8mm;">
          <div class="hInput5">
            <div class="header">Annual Ongoing Fees</div>
            <app-custom-input [(ngModel)]="ongoingFeesSum" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onIRRChange()" dis="true"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openOngoingDialog()" />
          <div class="hInput5" style="margin-left: 10px;">
            <div class="header">Onboarding Fees</div>
            <app-custom-input [(ngModel)]="onBoardingFeesSum" keyPress="op" [textOnTop]="'$'" (ngModelChange)="onIRRChange()" dis="true"></app-custom-input>
          </div>
          <img src="assets/images/document.svg" class="ic" (click)="openOnboardingDialog()" />

        </div>


        <div style="text-align: center; width: 100%">
          <input type="button" value="Issue Report" class="inputReport" (click)="report()" />
        </div>
      </div>
    </mat-card>
    <!--*ngIf="!isHidden"-->
    <div class="page" style="width: 210mm; background-color: white; margin: auto; display: none" id="section-to-print">
      <div class="container" style="margin-left: 7mm; margin-right: 7mm; padding-top: 10mm;">
        <img class="logo" src="assets/images/logo.svg" style="margin-bottom: 5mm; width: 30mm;" />
        <div class="line1" style="font-size: 6.7mm; color: #3588A0; font-family: 'Open Sans'">
          LIFE SETTLEMENTS REPORT
        </div>
        <div class="line2" style="font-size: 5.64mm; color: #3588A0; font-family: 'Open Sans'; font-weight: 300">
          Monetization & Valuation Forecast
        </div>
        <div class="line3" style="font-size: 4mm; color: #3588A0; font-family: 'Open Sans'; font-weight: 600">
          Face Value: {{amount | number}} <span style="padding-left:5em"></span> Certificate Date: {{mDate | date:'dd/MM/yy'}}
          <span style="padding-left:5em"></span>
          <!--Policy Date Issue: 2\02\2012-->
        </div>
        <div class="seperator1"></div>
        <div class="mHeader">
          Payment schedule & invesmet intrest
        </div>


        <!--<div class="seperator2">
        </div>-->

        <!--<div class="mHeader">
          High Performing Market
        </div>
        <div class="secondary">
          This forecast refers to a future 'bull market' where efficiency and liquidity bring high demand and expected returns for
          new investors down to a level of <span class="irrSpan">{{irr - 4}}%</span> IRRs.
        </div>-->





        <table id="table2">
          <!--<colgroup span="2"></colgroup>
    <colgroup span="2"></colgroup>-->
          <tr>
            <td class="header1">Timeline</td>
            <td class="header1 tHeaderColor1" colspan="2" scope="colgroup">LiST management invesment</td>
            <td class="header1 tHeaderColor2" >Policyholder interest</td>
            <td class="header1 tHeaderColor2" >LiST management interest</td>
            <td class="header1 tHeaderColor3">Current/Immediate Liquidation Price</td>
          </tr>
          <tr>
            <td></td>
            <th scope="col">Cash</th>
            <th scope="col">Percentage</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th></th>
          </tr>
          <tr *ngFor="let item of highData">
            <th scope="row" class="timeLine">{{item.title}}</th>
            <td class="cell">{{item.enforcedCash | number}}$</td>
            <td class="cell">{{item.enforcedPercetage | number}}</td>
            <td class="cell">{{item.PolicyholderInterest | number}}$</td>
            <td class="cell">{{item.listInterest | number}}$</td>
            <td class="cell">{{item.current | number}}$</td>
          </tr>
        </table>

        <div id="tableDescription">
          <div id="tableDescription_line1" class="tableLines">
            <span class="tHeaderColor1">LiST management invesment</span> –  Represents LiST Management annual and accumulated investment in the policy
          </div>
          <div id="tableDescription_line2" class="tableLines">
            <span class="tHeaderColor2">Policyholder interest</span> – Represents the life insurance coverage remaining by the seller at sudden deat
          </div>
          <div id="tableDescription_line3" class="tableLines">
            <span class="tHeaderColor3">LiST management interest</span> - Represents the portion of the policy sold to LiST Management for covering premiums
          </div>

        </div>
        <div class="mHeader mHeader2">
          Current/Immediate Liquidation Price
        </div>
        <div>
          <canvas id="myChart"></canvas>
        </div>

        <div>
          <canvas id="myChart3"></canvas>
        </div>
        <div style="width: 100%; height: 20mm"></div>
      </div>
    </div>
  </div>
  <div id="loadingContainer">
    <img src="assets/images/process.gif" />
    <div id="loadingText"></div>
  </div>
</div>