.top > div {
    width: 191px;
    height: 93px;
    padding-left: 17.5px;
    padding-right: 17.5px;
    font-size: 14px;
    float: left;
    text-align: center;
}

.top {
    margin-left: 37px;
}

.bold {
    font-weight: 800;
}

.investorText {
    font-size: 59px;
}

.alpha {
    font-size: 88px;
}

.selectedSection {
    background-color:  #2E7E98;
    color: white;
}
.unselectedSection {
    background-color: #EBEBEB;
    color: #2E7E98;
}

.regLeft {
    background-color: red;
    width: 546px;
    height: 521px;
    float: left;
}

.regRight_investor {
    height: 521px;
    background-image: url('../../assets/images/reg_clients.png');
    background-size: contain;
    pointer-events: none;
}

.regRight_client {
    height: 521px;
    background-size: cover;
    background-image: url('../../assets/images/reg_investor.png');
    pointer-events: none;
}

.investorContainer {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;    
}

.title {
    height: 38px;
    font-size: 38px;
    margin-top: 35px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}


.topHeader {
    font-size: 18px;
    margin-top: 7px;
}

#seperator {
    width: 0.5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #2E7E97;
    padding: 0px;
}

.regLine1{
    margin-right: 8px; 
}

.input1 {
    height: 61px;
}

.input2 {
    height: 37px;
}

.contentLeft{
    padding: 10px;
}

.contentRight {
    margin-top: 4px;
    padding: 0px 10px 0px 10px;
}

.regInput {
    position: relative;
    width: 385px;
    outline: none;
    padding: 5px;
    border: 1px solid #2E7E97;
    margin-top: 10px;
}

.placeholder {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 100%;
  color: #2E344A;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  pointer-events: none;
}

.inputContainer {
    position: relative;
    width: 385px;
}
.inputContainer input {
    width: 100%;
}
.regInput:focus ~ .placeholder,
.regInput:valid ~ .placeholder {
  display: none;
}

.left {
    width: 546px;
    height: 521px;
    background-color: red;
    display: inline-block;
}

.right {
    width: 474px;
    height: 521px;
    background-color: cyan;
    display: inline-block;
}

.dialogContainer {
    height: 521px; 
    background-color: white; 
    width: 80vw; 
    font-family: 'Assistant';
}

textarea {
    resize: none;
}

.resSmall {
    display: none;
}
@media screen and (max-width: 1050px){
   
   .resBig{
       display: none;
   }
   .resSmall {
       display: block;
   }
    .rightContainer {
        display: none;
    }
    .dialogContainer {
        /*width: 486px;*/
        width: 302px;
        background-color: transparent;
    }
    .inputContainer {
        width: 252px;
    }
    .inputContainer input {
        /*width: 420px;*/
        width: 252px;;
        /*height: 93px;*/
        height: 56px;
        /*font-size: 20px;*/
        font-size: 13px;
    }
    .inputForm {
        margin-left: 26px;
    }
    .regInput {
        width: 252px; 
    }
    .bold {
        color: #E98126;
    }
    .placeholder {
        text-align: left;
        left: 6px;
        line-height: 61px;
    }
    .open_raw {
        margin-top: 10px; 
        margin-right: auto; 
        margin-left: auto; 
        width: 33px; 
        background-image: url('/assets/images/open_raw.png');
        height: 19px;
    }
    .close_raw {
        transform: rotate(180deg);
    }

}