<div style="height: 521px; background-color: white; width: fit-content;">
  <div class="regLeft" style="background-color: white; width: 546px;">
    <div class="title">I AM</div>
    <div class="top">
      <div [ngClass]="[! investorView ? 'selectedSection' : 'unselectedSection' ]" (click)="investorView = false">
        <div class="topHeader">Policyholder</div>
        <p>looking to get rid of the monthly premiums</p>
      </div>
      <div id="seperator"></div>
      <div [ngClass]="[investorView ? 'selectedSection' : 'unselectedSection' ]" (click)="investorView = true">
        <div class="topHeader">Investor</div>
        <p>looking to invest in a smart and Fair Way in the Life settlement Market</p>
      </div>

    </div>

    <div style="margin-left: 37px; clear: both;">
      <div><input type="checkbox"><span class="bold">Keep me posted</span> I would like to receive relevant offers</div>
      <div><input type="checkbox"><span class="bold">Let's talk</span> I am interested in scheduling a phone call to learn more</div>

    </div>

    <div style="margin-left: 37px;">
      <div class="inputContainer">
        <input required class="regInput input1" />
        <span class="placeholder">Have anything to add</span>
      </div>
      <div class="inputContainer">
        <input class="mInput regInput" placeholder="Email:" />
      </div>
      <div class="inputContainer">
        <input class="regInput" placeholder="Name:" />
      </div>
      <div class="inputContainer">
        <input class="regInput" placeholder="Phone Number:" />
      </div>

    </div>
  </div>
  <div style="float:right">
    <div class="regRight_investor" *ngIf="investorView">
    </div>
    <div class="regRight_client" *ngIf="! investorView">
    </div>

  </div>
</div>