.marketContainer{
    height: 100%
}
.investingCard{
    width: 490px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.cardTitle{
    width: 100%;
    width: 480px;
    font-size: 1.2em;
    height: 1.2em
}