<div class="marketContainer" flex fxLayout="column" fxLayout.lt-sm="column">
  <div fxFlex="60" fxLayoutAlign="center center" fxLayout="row">
    <div fxFlex="50" fxLayoutAlign="center center">
      <mat-card class="investingCard">
        <app-investing></app-investing>
      </mat-card>
    </div>
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
      <div>
        <div class="cardTitle">
          Orders
        </div>
        <div style="width: 480px;">
          <app-commands></app-commands>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="40" fxLayoutAlign="center center" fxLayout="row">
    <div fxFlex="50" fxLayoutAlign="center center">
      <app-chart-market></app-chart-market>
    </div>
    <div fxFlex="50" fxLayoutAlign="center center" fxLayout="column">
      <div class="cardTitle">
        Market Overview
      </div>
      <div style="width: 480px;">
        <mat-card>
          <app-market-overview></app-market-overview>
        </mat-card>
      </div>
    </div>

  </div>
</div>

<!--<mat-grid-list class="row" cols="2">
  <mat-grid-tile class="col-sm-6">
    <div layout="col">
    <div >
      <mat-card style="width: 490px;">
        <app-investing></app-investing>
      </mat-card>
    </div>
    <div>
      <app-chart-market></app-chart-market>
    </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="col-sm-6">
    <mat-card style="width: 490px; ">
      <app-market-overview></app-market-overview>
    </mat-card>
    <div style="width: 490px; ">
      <app-commands></app-commands>
    </div>
  </mat-grid-tile>
</mat-grid-list>-->