.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.hInput {
  width: 200px;
  text-align: center;
}

.grayText {
  color: gray;
  text-align: center;
  width: 200px;
}

.secondLineContent {
  background-color: white;
  line-height: 1.5em;
}

input {
  	text-align: center; 
    height: 20px;
    font-size: 15px;
    margin-top: 5px;
}
