<div id="container">
  <div class="left">
    <img src="assets/images/rep_logo.png" />
    <div class="contentLeft">
      <h1 style="color: #3488A0;">
        Seller
      </h1>
      <div>
        Thinking about Selling your Policy?
      </div>
      <input type="button" value="See your options" class="sellerButton" (click)="gotoSellerPage()"/>
    </div>
  </div>
  <div class="right">
    <div class="contentLeft">
      <h1 style="color: white;">
        Investor
      </h1>
      <div style="color: white;">
        Thinking about Investing Life Settlements?
      </div>
      <input type="button" value="Enter the market" class="sellerButton" style="background-color:white; color:  #3488A0" (click)="gotoInvestorPage()" />
    </div>
  </div>

</div>