.section1 {
    height: 90%;
    
    #particles-js {
        position: absolute;
        width: 100%;
        height: 90%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }

}
.section3{
    width: 100%;
    height: 410px;
    text-align: center;
    background-color: #E98126;
    position: relative;
    background-image: url('/assets/images/overlay.png');

    .textContainer {
        font-size: 43px;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);    
    }

}
.forStyle {
        .leftSide {
        color: white;
        font-size: 20px;
        line-height: 30px;
        padding-right: 50px;
    }
    .title {
        font-size: 43px;
        line-height: 66px;
    }

    .center {
        top: 50%;
        position: absolute;
        transform: translateY(-50%);
        display: flex;
        text-align: left;
        padding-left: 110px;
    }
    .rightSide {
        width: 435px;
        padding-right: 50px;
        .img {
            width: 384px;
            height: 342px;
            background-image: url('/assets/images/for_policy_holder.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .button {
        width: 248px;
        height: 60px;
        background-color: white;
        color: #E98126;
        font-size: 26px;
        line-height: 100%;
        line-height: 60px;
        text-align: center;
        margin-top: 20px;
    }

}
.section4  {
    width: 100%;
    height: 410px;
    text-align: center;
    background-color: #367C95;
    position: relative;
    display: flex;
    background-image: url('/assets/images/overlay.png');

}
.section5 {
    width: 100%;
    height: 800px;
    text-align: center;

    .center {
        text-align: center;
    } 
    .title {
        font-size: 78px;
        font-weight: 800;
        color: #1D6075;
        margin-top: 89.5px;
    } 
    
    .description {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        font-size: 27px;
        color: #1D6075;
    } 
    .orange {
        color: orange;
        font-weight: 600;
    }
    .play {
        width: 115px;
        height: 115px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        background-image: url('/assets/images/play.png');
    }
}

.textCenter {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #29A1BE;
    width: 100%;
    margin: auto;
    font-size: 47px;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section6 {
    .bacgroundSeats{
        background-image: url(/assets/images/seats.png);
        background-size: auto;
        height: 800px;
        padding-top: 800px;
        background-repeat: no-repeat;    } 
    .team {
        text-align: center;
    } 
    .title {
        font-size: 43px;
        color: white;
    } 
    .cards {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    } 
    .card {
        width: 218px;
        height: 400px;
        background-color: white;
        margin: 10px;
    }
}

.section7 {
    text-align: center;
    img {
        padding: 25px;
    }
}

.section2 {
    background-color: #34879F;
    color: white;
    padding-top: 100px;
    line-height: 44px;
    
    .center {
        width: 1000px;
        margin-left: 50%;
        transform: translateX(-50%)
    }
    .seperator {
        border: 2px;
        border-color: #E98126;
        border-style: solid;
        width: 100%;
    }

    .content {
        font-size: 30px;
        display: flex;
    }
    .leftSide {
        width: 480px;
    }
    .title {
        font-size: 43px;
        width: fit-content;
        margin-bottom: 60px;
    }
    .rightSide {
        width: 500px;
        height: 450px;
        .img {
            width: 100%;
            height: 100%;
            background-image: url('/assets/images/about_big.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

