<div style="height: 100%;">
  <div class="header" style="position: absolute; width: 100%; z-index: 1; height: 60px; ">
    <app-bar></app-bar>
  </div>
  <div class="section1">
    <div id="particles-js"></div>
    <div class="textCenter">
      A two-sides marketplace <br /> where both sides benefit
    </div>
  </div>

  <div class="section2">
    <div class="center">
      <div class="title">
        About us
        <div class="seperator"></div>
      </div>
      <div class="content">
        <div class="leftSide">
          We believe in the power of technology to remove barriers and drive transparency and equality to the Life settlements market.
          <br /> <br /> Our goal is to simplify and improve the way policyholders and investors approach this asset.
          <br /> We built and designed a two-sided-marketplace, were both sides benefits.
        </div>
        <div class="rightSide">
          <div class="img"></div>
        </div>

      </div>
    </div>
    <div style="width: 100%; height: 100px"></div>
  </div>
  <!--end section 2-->
</div>