<div style="background-color: #EEEEEE; height: 100%">
  <div style="background-color: #E2E2E2; height: 15mm; box-shadow: 1mm 0.7mm 0.7mm #b1b1b1">
    <div style="position: absolute; text-align: center; left: 50%; transform: translate(-50%, 0%); line-height: 15mm;     font-family: 'Open Sans'; font-weight: 600; font-size: 6mm;"></div>
    <img src="assets/images/logo.svg" style="width: 30mm; height: 12mm; top: 50%; transform: translate(0%, -50%); position: relative; margin-left: 4mm;"
    />
  </div>
  <!--<input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" (change)="onFileSelected($event)">
<button type="button" (click)="onUpload()">Upload File</button>-->

  <!--fileInput.click()-->
  <div style="width: 400%; height: 100%; display: flex;" id="slider">
    <div style="width: 25%; height: 100%; " id="inner">
      <div style="margin-top: 20%; width: 100%; text-align: center">
        <div>Insert Request ID here:</div>
        <input type="text" [(ngModel)]="pwd" />
        <div>
          <input type="button" value="Continue" class="inputReport" (click)="c()" />
        </div>
      </div>
    </div>
    <div style="width: 25%; height: 100%; text-align: center">
      <div style="margin-top: 20%">
        Capture Premiums illustration
      </div>
      <button (click)="fileInput.click()">
        <span class="inputReport">Choose</span>
        <input #fileInput type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput"(change)="onFileSelected1($event)" style="display:none;" />
      </button>
      <div id="imageContainer1" style="display: none; height: 100%">
        <div style="height: 50%">
          <img [src]="src" id="img1" style="width: 80%; height: 100%" />
        </div>
        <div style="margin-left: 10mm; margin-right: 10mm;">
          <input type="button" value="Back" class="inputReport" style="float: left" />
          <input type="button" value="Continue" class="inputReport" (click)="c()" style="float: right" />
        </div>

      </div>

    </div>
    <div style="width: 25%; height: 100%; text-align: center">
      <div style="margin-top: 20%">
        Capture Life Expectancy document
      </div>
      <button (click)="fileInput2.click()">
        <span class="inputReport">Choose</span>
        <input #fileInput2 type="file" capture="camera" accept="image/*" id="cameraInput2" name="cameraInput2"(change)="onFileSelected2($event)" style="display:none;" />
      </button>
      <div id="imageContainer2" style="display: none; height: 100%">
        <div style="height: 50%">
          <img [src]="src2" id="img2" style="width: 80%; height: 100%" />
        </div>
        <div style="margin-left: 10mm; margin-right: 10mm;">
          <input type="button" value="Back" class="inputReport" style="float: left" />
          <input type="button" value="Continue" class="inputReport" (click)="c2()" style="float: right" />
        </div>

      </div>

    </div>
    <div style="width: 25%; height: 100%; text-align: center">
      <div style="margin-top: 35%">
        Success!!
      </div>      
    </div>
  </div>
</div>
<!--<div>
    Insert Request ID here:
    <input type="text" [(ngModel)]="pwd" />
  </div>
  <button (click)="fileInput.click()">
  <span>Select</span>
  <input #fileInput type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput"(change)="onFileSelected($event)" style="display:none;" />
</button>
  <div>
    <img [src]="src" id="img1" />
  </div>
  <div>
    <input type="button" (click)="uploadFile()" value="upload" />
  </div>

  <div>

  </div>
</div>-->