.inputReport {
    width: 33mm;
    height: 8mm;
    background-color: #0e7171;
    outline: none;
    border-color: #0e7171;
    border-radius: 4mm;
    font-family: 'Open Sans';
    font-size: 3mm;
    color: white;
    margin-bottom: 6mm;
}