// This stuff matters!
.section {
  overflow:hidden;
  transition:transform 0.3s ease-out; // note that we're transitioning transform, not height!
  height:auto;
  transform:scaleY(1); // implicit, but good to specify explicitly
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}
.section.collapsed {
  transform:scaleY(0); // *squish*
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    // background-color: #fff
}


ul {
  list-style: none;
}
.header {

  &:hover {
    .imageReg {
      display: none;
    }

    .arrow{
      border-top: 6px solid black;
    }
    

    .menu_bar {
      color: black;

      &:hover {
        color: #5ACAEB;
         
        .drp_dwn {
           display: block;
        }
      }
    }
  }
}
.barOpened {
  .imageReg {
      display: none;
  }
  .imageHover {
    display: block;
  }
    .menu_bar {
      color: black;

      &:hover {
         color: #5ACAEB;
      }
    }
    .arrow {
      display: none;
    }
}

.menu_bar {
    width: 150px;
    position: relative;
    display: inline-block;
    color: white;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
    cursor: default;
}

.menuInvest {
  margin-left: 121px;
}
.menuSpan {
    // margin-left: 3vw;
    // margin-right: 3vw;
    font-weight: 500;
}
.menuItem {
    outline: none;
    font-weight: 300;
    line-height: 30px;
    cursor: pointer;
}

.drp_dwn {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    text-align: left;
    color: #1D6075;
    margin-left: -20%;
    padding-left: 20%;
}
.menuCenter {
    position: absolute;
    width: 500px;
    left: 37%;
    /*top: 1.5rem;*/
    /* text-align: center; */
}




.imageReg {
    display: block;
}

.imageHover {
    display: none;
}



// This stuff doesn't matter!
