.header:hover {
    background-image: linear-gradient(#D5E7EB, white);
}
.imageReg {
    display: block;
}

.imageHover {
    display: none;
}
.header:hover .imageReg {
    display: none;
}

.header:hover .menu_bar {
    color: black;
}
.header:hover .menu_bar:hover {
    color: #5ACAEB;
}

.button {
    background-color: #1D6075
}
.header:hover .imageHover {
    display: block;
}
.header {
    position: relative;
    height: 100%;
}
.logoLeft {
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5.7%;
}

.menu_bar {
    position: relative;
    display: inline-block;
    color: white;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
}
.menu_bar:hover {
    color: #5ACAEB;
}
.menuSpan {
    margin-left: 3vw;
    margin-right: 3vw;
    font-weight: 500;
}
.menuItem {
    outline: none;
    font-weight: 300;
    line-height: 30px;
}

.drp_dwn {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    text-align: left;
    color: #1D6075
}
.menu_bar:hover .drp_dwn {
    display: block;
}
.menuCenter {
    position: absolute;
    width: 100%;
    /*top: 1.5rem;*/
    text-align: center;
}

.carousel{
    overflow:hidden;
    width:100%;
}
.slides{
    list-style:none;
    position: relative;
    width: 100%; /* Number of panes * 100% */
    overflow: hidden; /* Clear floats */
        /* Slide effect Animations*/
    padding: 0px;
    /*-moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;*/
}
.slides > li{
    position:relative;
    float:left;
    width: 100%; /* 100 / number of panes */
    position: fixed;
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:0%; }
    11%   { left:-0%; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    /*37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }*/
    /*75%   { left:-200%; }*/
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:-0%; }
}
.animate{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}



.arrow{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;  
    border-top: 6px solid white;
    margin-top: 10px;
}
.header:hover .arrow{
    border-top: 6px solid black;
}
.header:hover  .menu_bar:hover .arrow {
    border-top: 6px solid #5ACAEB;
}
.menuRight {
    position: absolute;
    width: 100%;
    top: 1.3rem;
    text-align: right;
    color: white;
    padding-right: 30px;
}
.menuRight div {
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
}

.header:hover .menuRight{
    color: black;
}