.header:hover {
    background-color: white;
}
.header {
    position: relative;
    height: 100%;
}
.logoLeft {
    position: absolute;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5.7%;
}

.header:hover .menu_bar {
    color: green;
}
.menu_bar {
    position: relative;
    display: inline-block;
    color: white;
    background: none;
    border: none;
    outline: none;
    z-index: 1;
}
.menu_bar:hover {
    color: red;
}

.menuItem {
    outline: none;
}

.drp_dwn {
    display: none;
    position: absolute;
    background-color: white;
}
.menu_bar:hover .drp_dwn {
    display: block;
}
.menuCenter {
    position: absolute;
    width: 100%;
    top: 1.5rem;
    text-align: center;
}



.carousel{
    overflow:hidden;
    width:100%;
}
.slides{
    list-style:none;
    position: relative;
    width: 100%; /* Number of panes * 100% */
    overflow: hidden; /* Clear floats */
        /* Slide effect Animations*/
    padding: 0px;
    /*-moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;*/
}
.slides > li{
    position:relative;
    float:left;
    width: 100%; /* 100 / number of panes */
    position: fixed;
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:0%; }
    11%   { left:-0%; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    /*37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }*/
    /*75%   { left:-200%; }*/
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:-0%; }
}
.animate{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}



