<div class="header" id="header">
  <div class="logoLeft">
    <img src="/assets/images/logo_home.png" class="imageHover" style="/*height: 2rem;*/ width: 110px;" />
    <img src="/assets/images/logo_home_white.png" class="imageReg" style="/*height: 2rem;*/ width: 110px;" />
  </div>
  <div class="menuCenter">
    <div style="color: white; margin-top: 20px;">
      <div class="menu_bar menuInvest">
        <span class="menuSpan">INVEST</span>
        <div class="drp_dwn">
          <div *ngFor="let item of investorItems" class="menuItem" routerLink="/aws">
            {{item.name}} <img src="/assets/images/lock.png" style="width: 10px"/>
          </div>
        </div>
        <div style="margin-top: 10px;">
          <span class="arrow"></span>
        </div>
      </div>
      <div class="menu_bar">
        <span class="menuSpan">POLICY OWNER</span>
        <div class="drp_dwn">
          <div *ngFor="let item of policyItems" class="menuItem" routerLink="/aws">
            {{item.name}} <img src="/assets/images/lock.png" style="width: 10px"/>
          </div>
        </div>
        <div style="margin-top: 10px;">
          <span class="arrow"></span>
        </div>
      </div>
    </div>


  </div>
  <div class="menuRight">
    <div class="inline">
      <div class="button hidePhone" style="color: white; margin-right: 30px;">
        SIGN IN
      </div>
      <div class="menuHamburger" style="display: none">
        <button class="hamburger hamburger--collapse" type="button" id="hamburgerButton" (click)="toggle()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

      </div>
    </div>

    <div class="showPhone" style="display: none">
      <img src="/assets/images/menu_ic_black.svg" (click)="showHideMenu()" />
    </div>
  </div>

  <div id="phoneOpenMenu" class="phoneOpenMenu hide" style="width: 100%;">
    <div class="item" (click)="openSubMenu($event)">INVSET
      <div class="submenu1">
        <div class="menuItem" routerLink="/aws">
          Marketplace
        </div>
        <div class="menuItem" routerLink="/single_unit_existing">
          Tools
        </div>
        <div class="menuItem" routerLink="/home/map">
          Industry Map
        </div>
        <div class="menuItem">
          How It Works
        </div>
      </div>
    </div>
    <div class="item" (click)="openSubMenu($event)">POLICY OWNER
      <div class="submenu1">
        <div class="menuItem">
          My Policy
        </div>
        <div class="menuItem" routerLink="/clients/report">
          Policy Forecast
        </div>
        <div class="menuItem">
          Customer Support
        </div>
        <div class="menuItem">
          How It Works
        </div>
      </div>
    </div>
    <div class="item">CONTACT</div>
    <div class="item">SIGN IN</div>
  </div>

  <div class="section collapsible collapsed" style="width: 100%; height: 300px; background-color: #fff; position: absolute; z-index: -1">
    <div style="width: 37%; height: 100%; background-image: url('/assets/images/bar_left_background.png'); display: inline-block"></div>
    <div style="display: inline-block; width: 63%; height: 100%; position: absolute; margin-top: 80px;">
      <div style="float: left">
        <ul>
          <li *ngFor="let item of investorItems">
            {{item.name}}
          </li>
        </ul>
      </div>
      <div style="float: left">
        <ul>
          <li *ngFor="let item of policyItems">
            {{item.name}}
          </li>
        </ul>
      </div>

      <div style="float: left">
        <ul>
          <li *ngFor="let item of generalItems">
            {{item.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>