.header:hover {
    background-image: -webkit-linear-gradient(#D5E7EB, white);
    background-image: -moz-linear-gradient(#D5E7EB, white);
    background-image: -o-linear-gradient(#D5E7EB, white);
    background-image: linear-gradient(#D5E7EB, white);
}
.button {
    background-color: #1D6075
}
.header:hover .imageHover {
    display: block;
}
.header {
    position: relative;
    height: 100%;
    font-size: initial;
}
.logoLeft {
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5.7%;
}

.carousel{
    overflow:hidden;
    width:100%;
}
.slides{
    list-style:none;
    position: relative;
    width: 100%; /* Number of panes * 100% */
    overflow: hidden; /* Clear floats */
        /* Slide effect Animations*/
    padding: 0px;
    /*-moz-animation:carousel 30s infinite;
    -webkit-animation:carousel 30s infinite;
    animation:carousel 30s infinite;*/
}
.slides > li{
    position:relative;
    float:left;
    width: 100%; /* 100 / number of panes */
    position: fixed;
}
.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}
.carousel h2{
    margin-bottom: 0;
    font-size:1em;
    padding:1.5em 0.5em 1.5em 0.5em;
    position:absolute;
    right:0px;
    bottom:0px;
    left:0px;
    text-align:center;
    color:#fff;
    background-color:rgba(0,0,0,0.75);
    text-transform: uppercase;
}

@keyframes carousel{
    0%    { left:0%; }
    11%   { left:-0%; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    /*37.5% { left:-305%; }
    48.5% { left:-305%; }
    50%   { left:-405%; }
    61%   { left:-405%; }
    62.5% { left:-305%; }
    73.5% { left:-305%; }*/
    /*75%   { left:-200%; }*/
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:-0%; }
}
.animate{
	-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}



.arrow{
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;  
    border-top: 6px solid white;
    margin-top: 10px;
}
.menuRight {
    position: absolute;
    width: 100%;
    top: 1.3rem;
    text-align: right;
    color: white;
}
.menuRight div {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
}
.inline div {
    display: inline;    
}

.header:hover .menuRight{
    color: black;
}

.showPhone {
    display: none;
}

.phoneOpenMenu {
    display: none;
}

#hamburgerButton{
    outline: none;
}




@media screen and (max-width: 845px) {
    .showPhone {
        display: block;
    }
    .inline {
        display: none;
    }
    .phoneOpenMenu.show{
        display: block;
        position: absolute;
        margin-top: 60px;
        background-color: white;
        width: 100%;
    }

     .header.show  {
        background-image: -webkit-linear-gradient(#D5E7EB, white);
        background-image: -moz-linear-gradient(#D5E7EB, white);
        background-image: -o-linear-gradient(#D5E7EB, white);
        background-image: linear-gradient(#D5E7EB, white);
    }
    .header.show .imageReg {
        display: none;
    }

    .header.show .imageHover {
        display: block;
    }
    .menuCenter{
        display: none;
    }
    .submenu1{
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease-out;
    }
    
    .submenu1.opened {
        max-height: 200px;
        display: block;
    }
    @-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

}
