.cust-inp {
    border: none;
    text-align: left;
    padding: 0px;
    outline: none;
    background-color: white;
}
.inpContainer {
    border-bottom: solid 1px lightgray;
    padding: 5px;
    display: inline-block;
    padding-bottom: 0px;
}