    <mat-card>
    <!--<nb-card-header>Pie</nb-card-header>-->
    <!--<nb-card-body>-->
      <div flex fxLayout="row" fxLayout.lt-sm="column" class="row" align="center" style="font-size: 1.2em">
        <div class="col-lg-6" layout="center" fxFlex="50">
            <h3>
            Bid
            </h3>
          <div >
            <div class="ul" *ngFor="let item of bids; let i = index" style="line-height: 1.75em">
              {{item.bidPricePercent}}% (${{item.bidPriceMoney}})
            </div>
          </div>
        </div>
        <div class="col-lg-6" layout="center" fxFlex="50">
          <h3>
            Ask
          </h3>
          <div>
            <div class="ul" *ngFor="let item of asks; let i = index" style="line-height: 1.75em">
              {{item.askPricePercent}}% (${{item.askPriceMoney}})
            </div>
          </div>
        </div>
      </div>
    <!--</nb-card-body>-->
  </mat-card>
