<!--<div> Amount:
  <app-bank-account [(ngModel)]="amount" keyPress="op"></app-bank-account>
  Percent:
  <input type="number" [(ngModel)]="percent" keyPress="op" /> Years:
  <app-bank-account [(ngModel)]="years" keyPress="op"></app-bank-account>
  Premiums:
  <app-bank-account [(ngModel)]="premiums" keyPress="op"></app-bank-account>
</div>
<div>
  <button (click)="calculate()">Calculate</button>
</div>

<input type="range" min="1" max="7" value="3" class="slider" id="myRange">-->
<!--<app-seekbar></app-seekbar>-->
<!--<div style="height: 136px">
    <div class="priceRow" *ngFor="let item of arr; let i = index" [hidden]="item.price == '0'">
        <div class="divider" style="width: 300px; height: 1px; background-color: #0e7171; opacity: 0.27"></div>
        <!--<input type="checkbox" style="margin-right: 10px" [disabled]="isAtMarket !== true" checked="true"/>-->
<!--<span class="investPricePercent">{{item.askPricePercent}}% </span>
      <span class="investPrice">${{item.price}} </span>
      <span class="investPoloicies">({{item.numOfPolicies}} Policies)</span>-->
<!--row {{i}}-->
<!--</div>-->
<!--</div>-->

<!--Owner money: {{ownerMoney | number}}

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSourced">

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> Years </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.years}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Return Money </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.returnMoney | number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Share price </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.sharePrice}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="returnPass">
            <mat-header-cell *matHeaderCellDef> Return Pass </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.returnIfPass | number}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let detail">
                <table mat-table [dataSource]="detail.element.detailsDataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="a">
                        <th mat-header-cell *matHeaderCellDef> Years </th>
                        <td mat-cell *matCellDef="let element"> {{element.thisYear}} </td>
                    </ng-container>

                    <ng-container matColumnDef="b">
                        <th mat-header-cell *matHeaderCellDef> Return Money If Sell </th>
                        <td mat-cell *matCellDef="let element"> {{element.returnIfsellThisYearMoney | number}} </td>
                    </ng-container>

                    <ng-container matColumnDef="c">
                        <th mat-header-cell *matHeaderCellDef> Return If Pass </th>
                        <td mat-cell *matCellDef="let element"> {{element.returnIfPassMoney}} </td>
                    </ng-container>

                    <ng-container matColumnDef="d">
                        <th mat-header-cell *matHeaderCellDef> Return Pass </th>
                        <td mat-cell *matCellDef="let element"> {{element.returnIfPass | number}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsd"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsd;" matRipple class="element-row" [class.expanded]="expandedElement == row"
            (click)="expandedElement = row"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow" [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
            style="overflow: hidden">
        </mat-row>
    </mat-table>
</div>-->
<div style="margin-top: 20px;">
    <div class="marketDataContainer">
        <mat-card class="investingCard">
            <!--<app-investing></app-investing>-->
            <app-simulator-scenario-investing (showCallBackPopUp)="simulate($event)"></app-simulator-scenario-investing>
        </mat-card>

        <div style="width: 480px; margin-left: calc(100% - 960px); ">
            <div style="color: #0E7171; font-size: 1.2em; margin-bottom: 10px;">Market Overview</div>
            <mat-card>
                <app-market-overview #marketData></app-market-overview>
            </mat-card>
        </div>
    </div>
</div>

<div style="width: 90%; margin: auto" [hidden]="t.length === 0" >
    <div style="line-height: 3em;">Projected IRR depending on market performance <img src="assets/images/details.png" mat-raised-button matTooltip="Info about the  action"
             matTooltipClass="my-tooltip" [matTooltipClass]="{'background-color': red}" aria-label="Button that displays a tooltip when focused or hovered over"
            class="logo" style="height: 10px; display: none" /></div>
    <table style="margin-bottom: 20px">
        <th [ngClass]="'tableHeaderLeft'">Market Price</th>
        <th *ngFor="let head of choosenPercent; index as i" [ngClass]="head.highlight ? 'tableHeader2' : 'tableHeader' ">{{getPercent(head.num)}}%</th>
        <tr *ngFor="let row of t; index as i2">
            <td *ngFor="let item of row; index as i3" [ngClass]="{'tc0': i3 == 0, 'tc1' : i3 != 0, 'cellChoosen': chhosenIndex + 1 == i3}">{{item}}</td>
        </tr>
    </table>
</div>